.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}
.layout tr td {
    padding: 30px;
    vertical-align: top;
    border: solid 2px #B6989C;
}
.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 20px;
}

a, a:visited {
    color: #3D4E55;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}
a:hover{
    color: #99A2A6;
    transition: 0.3s;
}
p{
    color: #819474;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.p__text{
    color: #819474;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    font-weight: 400;
}
.sidebarHeader, h2 {
    color: #819474;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    font-weight: 700;
    font-size: 2rem;
}
button{
    background-color: #B6989C;
    color: white;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 10px;
}
input{
    border: 2px solid #819474;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}
select{
    border: 2px solid #819474;
    color:#906c64;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}
td{
    color: #819474;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    font-weight: 500;
    font-size: 1.5rem;
}