* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

button:hover {
    background: #9d9898;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}

.profile {
    background: #f6d3e7;
}

.profile__wrapper {
    display: flex;
    gap: 250px;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.profile__info a {
    margin-top: 10px;
    font-size: 18px;
}

.profile__info h2 {
    margin: 10px 0px 0px 0px;
    color: #64d56a;
}

/* .profile__msg {

} */